@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
}

.container-fluid{
    background-color: #54595F;
    padding: 7px 1px;
    color: #fff;
    display: flex;
    justify-content: center;
    /* letter-spacing: 2px; */
}

h2{
    font-size: 95%;
    margin: 2px 1px;
    padding: 1px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing:1px;
}